.coin-tracker-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.coin-name {
    width: 100%;
    font-size: 40px;
    padding: 5px;
}

.ticker-container {
    color:transparent;
    width: 35%;
    padding: 1%;
    font-size: 20px;
}

.ticker-header {
    display: flex;
    position: relative;
    width: 100%;
    font-size: 125%;
    padding-bottom: 2%;
    color:grey;
}

.ticker-item {
    -webkit-background: linear-gradient(#fc6c85, #fc94a1, #ffcccb, #cdffcc, #b0f5ab, #90ef90);
    background: linear-gradient(#fc6c85, #fc94a1, #ffcccb, #cdffcc, #b0f5ab, #90ef90);
    -webkit-background-clip:text;
    background-clip:text;
    background-size:100% 1000%;
    position: relative;
    display: flex;
    width: 100%;
    cursor: pointer;
}


.ticker-item:nth-child(2){
    background-position:0% 10% ;
}
.ticker-item:nth-child(3){
    background-position:0% 20% ;
}
.ticker-item:nth-child(4){
    background-position:0% 30% ;
}
.ticker-item:nth-child(5){
    background-position:0% 40% ;
}
.ticker-item:nth-child(6){
    background-position:0% 50% ;
}
.ticker-item:nth-child(7){
    background-position:0% 60% ;
}
.ticker-item:nth-child(8){
    background-position:0% 70% ;
}
.ticker-item:nth-child(9){
    background-position:0% 80% ;
}
.ticker-item:nth-child(10){
    background-position:0% 90% ;
}
.ticker-item:nth-child(11){
    background-position:0% 100% ;
}

.ticker-item:hover {
    opacity: 0.5;
}

.market-name {
    width: 100%;
}

.coin-price {
}

.line-chart-container {
    flex-wrap: wrap;
    position: relative;
    width: 60%;
    padding-right: 2%;
    margin: auto;
}